langchain
openai
langchain_google_genai
streamlit
langchain_core
google-generativeai
langchain-community
langchain-openai 
python-dotenv
google-generativeai
google-ai-generativelanguage
vertexai
langchain_google_vertexai
